target/
wit/
**/target/
**/wit/
**/*.wasm
.vscode
.app-signing
.DS_Store
*.swp
*.swo
*.zip
/home
packages/**/pkg/*.wasm
packages/**/wit
*/**/node_modules
.env
hyperdrive/src/bootstrapped_processes.rs
hyperdrive/packages/**/wasi_snapshot_preview1.wasm

LICENSE
pull_request_template.md
README.md
Dockerfile
