target/
wit/
**/target/
**/wit/
**/wit-*/
**/*.wasm
.vscode
.app-signing
.DS_Store
*.swp
*.swo
*.zip
/home
*/**/node_modules
.env
kinode/src/bootstrapped_processes.rs
kinode/packages/**/wasi_snapshot_preview1.wasm

kinode/packages/app-store/pkg/ui/*
kinode/packages/homepage/pkg/ui/*
kinode/packages/settings/pkg/ui/*
kinode/src/register-ui/build/
kinode/src/register-ui/dist/
kinode/packages/docs/pkg/ui
