target/
wit/
**/target/
**/wit/
**/*.wasm
.vscode
.app-signing
.DS_Store
*.swp
*.swo
*.zip
/home
packages/**/pkg/*.wasm
packages/**/wit
kinode/packages/**/pkg/ui
*/**/node_modules
.env
kinode/src/bootstrapped_processes.rs
kinode/packages/**/wasi_snapshot_preview1.wasm
