target/
wit/
**/target/
**/wit/
**/wit-*/
**/*.wasm
.vscode
.app-signing
.DS_Store
*.swp
*.swo
*.zip
/home
*/**/node_modules
.env
hyperdrive/src/bootstrapped_processes.rs
hyperdrive/packages/**/wasi_snapshot_preview1.wasm

hyperdrive/packages/app-store/pkg/ui/*
hyperdrive/packages/homepage/pkg/ui/*
hyperdrive/packages/settings/pkg/ui/*
hyperdrive/src/register-ui/build/
hyperdrive/src/register-ui/dist/
hyperdrive/packages/docs/pkg/ui
