[package]
name = "kinode_lib"
authors = ["KinodeDAO"]
version = "0.8.1"
edition = "2021"
description = "A general-purpose sovereign cloud computing platform"
homepage = "https://kinode.org"
repository = "https://github.com/kinode-dao/kinode"
license = "Apache-2.0"

[dependencies]
lib = { path = "lib" }

[workspace]
members = [
    "lib",
    "kinode",
    "kinode/packages/app_store/app_store",
    "kinode/packages/app_store/ft_worker",
    "kinode/packages/app_store/download",
    "kinode/packages/app_store/install",
    "kinode/packages/app_store/uninstall",
    "kinode/packages/chess/chess",
    "kinode/packages/homepage/homepage",
    "kinode/packages/kino_updates/widget",
    "kinode/packages/kns_indexer/kns_indexer",
    "kinode/packages/kns_indexer/get_block",
    "kinode/packages/kns_indexer/state",
    "kinode/packages/notify/notify",
    "kinode/packages/settings/settings",
    "kinode/packages/terminal/terminal",
    "kinode/packages/terminal/alias",
    "kinode/packages/terminal/cat",
    "kinode/packages/terminal/echo",
    "kinode/packages/terminal/hi",
    "kinode/packages/terminal/kfetch",
    "kinode/packages/terminal/kill",
    "kinode/packages/terminal/m",
    "kinode/packages/terminal/top",
    "kinode/packages/terminal/namehash_to_name",
    "kinode/packages/terminal/net_diagnostics",
    "kinode/packages/terminal/peer",
    "kinode/packages/terminal/peers",
    "kinode/packages/tester/tester",
]
default-members = ["lib"]
resolver = "2"

[profile.release]
strip = "symbols"
lto = true
panic = "abort"
codegen-units = 1
