h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Kode Mono', monospace;
}

#homepage {
    max-width: 960px;
    margin: 10px auto;
}

header {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 2px;
    justify-content: space-between;
}

header h2 {
    flex-grow: 100;
}

header button {
    margin-left: 4px;
}

@media (prefers-color-scheme: light) {
    .kino-bird {
        filter: invert(1);
    }
}

@media (prefers-color-scheme: dark) {}

[data-rfd-droppable-context-id] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: light-dark(#4f000055, var(--tasteful-dark));
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.docked-app {
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

.docked-app a img {
    margin: 0 auto;
}

.app-display {
    position: relative;
    text-decoration: none;
}

.app-display:hover {
    text-decoration: underline;
}

.app-fave-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    margin: 0;
    width: 24px;
    height: 24px;
}

.app-fave-button span {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.1em;
}

.no-ui {
    position: absolute;
    bottom: 0;
    left: 0;
}

#widgets {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    background-color: transparent !important;
    padding: 0 !important;
}

.widget {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 100%;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.widget iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.widget .bottom-bar {
    display: none;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    background-color: var(--blue);
    width: 100%;
    padding: 2px;
    flex-direction: row;
    justify-content: space-between;
}

.widget:hover .bottom-bar {
    display: flex;
}

.widget .bottom-bar p {
    font-size: 0.8em;
    cursor: default;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 90vw;
    max-height: 100vh;
    max-width: 960px;
    left: 50%;
    transform: translate(-50%, 0);
}

.footer-button {
    background-color: var(--blue);
    color: light-dark(var(--off-black), var(--off-white));
    border-radius: 25px 25px 0px 0px;
}

#all-apps {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding: 10px;
    background-color: light-dark(var(--gray), var(--tasteful-dark));
    border-radius: 25px 25px 0px 0px;
}

.app-icon {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner {
    width: fit-content;
    text-align: center;
    background-color: var(--gray);
    border-radius: 25px;
    border: 1px solid black;
    padding: 25px;
    margin: auto;
}

.modal-header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

.modal .widget-settings {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.widget-settings div {
    padding: 20px;
}