body {
    width: 90vw;
    margin: 0 auto;
}

#homepage {
    max-width: 960px;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-style: italic;
}

.kino-bird {
    filter: invert(1);
}

[data-rfd-droppable-context-id] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #4f000085;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
}

.docked-app {
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

.docked-app a img {
    margin: 0 auto;
}

.app-display {
    position: relative;
}

.app-fave-button {
    position: absolute;
    top: 0;
    right: 0;
}

#widgets {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

#widget {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 100%;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

#widget p {
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    background-color: var(--blue);
    width: 100%;
    padding: 2px;
}

#widget iframe {
    border: none;
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 90vw;
    margin: 0 auto;
    max-height: 100vh;
    max-width: 960px;
}

#all-apps {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #4f000085;
    border-radius: 5px 5px 0px 0px;
}

.app-icon {
    width: 64px;
    height: 64px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner {
    width: fit-content;
    text-align: center;
    background-color: var(--gray);
    border-radius: 25px;
    border: 1px solid black;
    padding: 25px;
    margin: auto;
}

.modal-header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

.modal .widget-settings {
    display: flex;
    flex-direction: row;
    gap: 10px;
}