@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-light: #FFF5D9;
  --text-dark: #22211F;
  --text-orange: #FF7533;
  --orange-light: #F36822;
  --orange-medium: #F35422;
  --orange-burnt: #E25F35;

  --medium-gray: #7E7E7E;
  --gray-button: rgba(253, 245, 220, 0.25);
  --dark-background: rgb(130, 59, 28);
  --input-background: rgba(243, 84, 34, 0.25);
  /* orange-medium */
}

body {
  margin: 0;
  font-size: 16px;
  color: var(--text-light);
  font-weight: 400;
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: var(--dark-background);
  height: 100vh;
  width: 100vw;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input {
  font-family: 'Barlow Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;

  flex-direction: row;
  align-items: center;
}

input,
button {
  all: unset;
}

input[type="text"],
input[type="password"],
input[type="checkbox"] {
  padding: 1em;
  border: 1px solid var(--orange-medium);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: var(--input-background);
  color: var(--text-light);
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 100%;
}

input[type="checkbox"] {
  padding: 0.25em 0.8em;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--orange-medium);
}

.checkmark {
  position: absolute;
  left: 4px;
  font-size: 24px;
  top: -5px;
  cursor: pointer;
}

::placeholder {
  color: var(--text-light);
}

::-webkit-input-placeholder::placeholder {
  color: var(--text-light);
}

::-moz-placeholder::placeholder {
  color: var(--text-light);
}

::-ms-input-placeholder {
  color: var(--text-light);
}

label {
  font-size: 20px;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  padding: 0.75em 1em;
  margin: 0;
  font-weight: 500;
  border-width: 1px;
  border-style: solid;
  border-color: var(--orange-medium);
  /* border-image: linear-gradient(to right, var(--orange-medium), var(--orange-light)); */
  border-radius: 8px;
  background: var(--orange-medium);
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.125em;
  transition: all 0.1s;
  box-shadow: 0 1px 2px var(--orange-light);
  color: var(--text-light);
}

button.alt {
  background-color: var(--text-light);
  color: var(--text-dark);
  border-color: var(--text-light);
  box-shadow: 0 1px 2px var(--text-light);
}

button:hover {
  opacity: 0.9;
  box-shadow: none;
}

button:disabled {
  background-color: var(--medium-gray);
  border: 1px solid var(--medium-gray);
  box-shadow: 0 1px 2px var(--medium-gray);
  opacity: 0.7;
  cursor: not-allowed;
}

ul,
li {
  all: unset;
}

select {
  padding: 0.25em 0.5em;
  font-size: 0.9rem;
  border: 1px solid var(--orange-medium);
  background-color: var(--input-background);
  color: var(--text-light);
  border-radius: 8px;

  /* Use a custom chevron image */
  background-image: url('./assets/select-chevron.svg');
  background-repeat: no-repeat;
  background-position: right 8px center;
  /* Adjust the horizontal position to control padding */
  background-size: 16px;
  /* Adjust size of the chevron */
  padding-right: 2em;
  /* Adjust the padding to make room for the chevron */

  -webkit-appearance: none;
  /* Removes default styling on WebKit browsers like Safari */
  -moz-appearance: none;
  /* Removes default styling on Firefox */
  appearance: none;
  /* Standard property, currently not fully supported */
}